@{
    ViewBag.Title = "Home Page";
}

<body background-color="black">
</body>

<div style="background-image: url('/Content/GuaflixInicial.png'); background-repeat: no-repeat; width: 900px; height: 480px;" class="jumbotron" float="center">
</div>

<div style="background-image: url('/Content/Guaflix1.png'); background-repeat: no-repeat; width: 900px; height: 480px;" class="jumbotron" float="center">
</div>
<table float="">
    <tr>
        <td><div style="background-image: url('/Content/Riverdale.png'); background-repeat: no-repeat; width: 450px; height: 450px;" class="jumbotron" float="left">
        </div>  </td>
        <td><div style="background-image: url('/Content/Strangerthings.png'); background-repeat: no-repeat; width: 450px; height: 450px;" float="right" class="jumbotron" padding="0">
        </div> </td>
    </tr>
</table>




